/**========================================*/

/**=================GENEREL=============== */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

.container {
  /* max-width: 1158px; */
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin:0 auto;
  text-align: center;
}

.title {
  font-weight: 600;
  /* font-size: 24px; */
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

/* .title span {
  color: #fd9222;
} */

*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**========================================*/

/**=================HEADER=============== */

.header {
  max-width: 100%;
  height: auto;
  padding: 16px;
  background-color: #fff;
  /* border-bottom: 1px solid #e7e9fc; */
  /* box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); */
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.menu-open-btn {}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:#4d5ae5;
  /* margin-right: 76px; */
}

.logo-part {
  color: #2e2f42;
}

.nav-list {
  /* display: flex; */
  display: none;
  gap: 40px;
}

.nav-item {
  list-style: none;
}

.nav-link {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.nav-link::after {
  content: '';
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-address {
  font-style: normal;
  display: none;
}

.address-list {
  /* display: flex; */
  display: none;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 40px;
}

.address-item {
  margin-right: 40px;
}

.address-item:last-child {
  margin-right: 0;
}

.address-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.header-contact-icon {
  fill: transparent;
  stroke: #111;
}

.mob-menu-top {
  
}

.mob-menu {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding: 24px 24px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.menu-close-btn {
  display: block;
  /* margin-left: auto; */
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #ECECEE;
  font-size: 8px;
  margin-bottom: 24px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color:rgba(46, 47, 66, 1);
}

.first-word {
  color:rgba(64, 75, 191, 1);
}

.mob-menu-wrap-bottom {
  margin-top: 168px;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding-left: 16px;
}

.mob-address-item:first-child {
  margin-bottom: 24px;
}

.mob-address-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color:rgba(67, 68, 85, 1);
  margin-bottom: 48px;
}

.mob-address-link-span {
  color: rgba(77, 90, 229, 1);
}

.mob-menu-bottom {
  display: flex;
  margin-top: 40px;
}

.mob-icon-list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
}

.mob-icon-item {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.mob-icon-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.team-content-link:hover,
.team-content-link:focus {
  background-color: #404bbf;
}

.mob-icon {
  fill: #f4f4fd;
  stroke: none;
  padding: 5px;
}




/**=======================================*/

/**=================MAIN================= */

main {
  /* padding: 188px 0 188px; */
  /* padding-top: 60px;
  padding-bottom: 60px; */
}

/**========================================*/

/**=================HERO-SECTION========== */

.hero-section {
  width: 320px;
  height: auto;
  /* max-width: 1440px; */
  /* height: auto; */
  /* padding-top: 60px;
  padding-bottom: 60px; */
  margin: 0 auto;
}

.hero-container {
  width: 100%;
  height: auto;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}

.hero-wrap {
  background-image:linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ), 
    url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2E2F42;
  padding: 72px 52px;
  text-align: center;
  /* border-radius: 30px; */
  margin: 0 auto;
  flex-shrink: 0;
}

@media screen and (min-device-pixel-ratio: 2), 
(min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-wrap {
    background-image: linear-gradient(
      rgba(17, 17, 17, 0.6),
      rgba(17, 17, 17, 0.6)
    ), 
    url(../images/hero-bg-mob-2x.jpg);
  }
}

.hero-title{
  max-width: 496px;
  /* font-size: 56px; */
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 72px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.order-button {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background-color: #4D5AE5;
  padding: 16px, 32px, 16px, 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
    background-color: #404bbf;
}

/**===================================================*/

/**=================FEATURES-SECTION================= */

.features-section {
  max-width: 100%;
  background-color:#FFFFFF;
  /* padding-top: 60px;
  padding-bottom: 60px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  overflow: hidden;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 24px; */
  gap: 72px;
  margin: 0;
  padding: 0;
}

.feature-item {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.feature-item:not(:last-child) {
  margin-bottom: 72px;
}

.feature-item-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: rgba(46, 47, 66, 1);
  margin-bottom: 8px;
}

.feature-description {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:rgba(67, 68, 85, 1);
}

.features-icon {
  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.feature-description {
  text-align: left;
}

/**===========================================*/

/**================TEAM-SECTION============== */

.team-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4F4FD;
  /* padding-top: 60px;
  padding-bottom: 120px; */
  padding: 92px 28px;
  box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
  margin: 0 auto;
}

/* .team-container {
  padding-left: 0;
  padding-right: 0;
} */

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 24px; */
}

.team-item {
  /* width: calc((100% - 72px) / 4); */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 
    0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding: 0px 0px 32px 0px;
  cursor: pointer;
}

.team-photo {
  width: 100%;
  margin: 0 auto;
}

.team-content {
  padding: 32px 0 32px;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
  text-align: center;
  margin-bottom: 8px;
  transition: color 0.3s ease;
}

.team-role {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
  text-align: center;
  transition: color 0.3s ease;
}

.team-content-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.team-content-item {
  width: 40px;
  height: 40px;
}

.team-content-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-shrink: 0;
}

.team-content-link:hover,
.team-content-link:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
  /* stroke: #f4f4fd; */
}

/**=========================================*/

/**================PORTFOLIO=============== */

.portfolio-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* max-width: 100%; */
  background-color: #FFFFFF;
  box-shadow: 
  0px 1px 6px rgba(46, 47, 66, 0.08), 
  0px 1px 1px rgba(46, 47, 66, 0.16), 
  0px 2px 1px rgba(46, 47, 66, 0.08);
  margin: 0 auto;
  padding: 96px 16px;
}

.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2E2F42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* column-gap: 24px;
  row-gap: 48px; */
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio-item {
  /* width: calc((100% - 48px) / 3); */
  width: 100%;
  border: 1px solid #e7e9fc;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
              0px 1px 1px rgba(46, 47, 66, 0.16), 
              0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-image-container {
  position: relative;
  overflow: hidden;
}

.portfolio-photo {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.portfolio-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  text-align: left;
  border-top: none;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0%);
}

/**=======================================*/

/**================FOOTER================ */

.footer {
  display: flex;
  padding: 96px 16px;
  background-color: #2e2f42;
  text-align: left;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* justify-content: flex-start; */
  /* align-items: baseline; */
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: left; */
  /* margin-right: 120px; */
}

.footer-link {
  display: inline-block;
  margin-bottom: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-align: center;
}

.footer-logo-text {
  color: #31d0aa;
}

.footer-paragraph {
  max-width: 264px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 16px;
  margin-bottom: 72px;
  text-align: left;
  margin-right: 30px;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#ffffff;
  margin-bottom: 16px;
  text-align: left;
}

.footer-list {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-item {
  width: 40px;
  height: 40px;
}

.footer-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-property: background-color; */
  /* transition-duration: 500ms; */
  /* transition-delay: 1000ms; */
}

.footer-icons-link:hover,
.footer-icons-link:focus {
  background-color: #31d0aa;
}

.footer-icon {
  fill: #f4f4fd;
  stroke: none;
}


.subscribe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  /* margin-left: 80px; */
  text-align: left;
}

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 72px;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.subscribe-label {
  width: 264px;
}

.subscribe-input {
  width: 100%;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin-top: 16px;
}

.subscribe-icon {
  margin-left: 16px;
  fill: rgba(255, 255, 255, 1);
}

/**=======================================*/

/**===============BACKDROP=============== */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  margin-bottom: 8px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 1px 3px rgba(0, 0, 0, 0.12),
              0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  font-size: 8px;
  color: rgba(46, 47, 66, 1);
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-title {
  text-align: left;
  max-width: 360px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  margin-bottom: 8px;
  color: teal;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
  /* stroke: #fd9222; */
}

.modal-input-wrap {
  position: relative;
  margin-bottom: 16px;
}

.modal-input-wrap svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4D5AE5;
}

.modal-icon-user {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  /* stroke: rgba(77, 90, 229, 1); */
}

.modal-icon {
  width: 18px;
  height: 24px;
  fill:rgba(46, 47, 66, 1);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translate(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-icon-user, .modal-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
} */

.modal-comment {
  margin-bottom: 16px;
}

textarea.modal-text {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4) !important;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 4px;
  background-color: transparent;
  border-color: #4D5AE5;
  outline: transparent;
  margin-bottom: 18px;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.modal-text:hover {
  border-color: #4d5ae5;
}

.modal-text:focus {
  border-color: #4D5AE5 !important; 
}

.modal-check {
  margin-bottom: 24px;
}

.modal-check input:checked + label .check-span {
  background-color: #404bbf;
  border: none !important;
  fill: #F4F4FD !important;
}

.check-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color:#8e8f99;
}

span.check-span {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4) !important;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent !important;
}

.check-text-icon {
  width: 10px;
  height: 8px;
  background-color: #404bbf;
}

.check-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.04em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color:#4d5ae5;
}

.check-link:hover,
.check-link:focus {
  color: rgba(64, 75, 191, 1);
}

.modal-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  background-color: rgba(77, 90, 229, 1);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  margin: 0 auto;
  width: 169px;
  height: 56px;
  color: #FFFFFF;
  margin-top: 24px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: #ffffff;
}

/**=======================================*/

/**=================MEDIA================ */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .header {
    padding: 24px 16px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-open-btn {
    display: none;
  }

  .nav-list {
    display: flex;
    margin-left: 60px;
  }

  .header-address {
    display: flex;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .hero-section {
    width: 768px;
    margin: 0 auto;
  }

  .hero-container {
    width: 100%;
    margin: 0 auto;
  }

  .hero-wrap {
    background-image:linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
      ), 
      url(../images/hero-bg-tab-2x.jpg);
      background-position: center center;
  }

  .hero-title {
    font-size: 56px;
  }

  .features-section {
    padding: 72px 16px;
  }

  .features-list {
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }

  .team-section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .team-list {
    flex-direction: row;
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-list {
    flex-direction: row;
    gap: 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  /* .footer {
    padding-left: 108px;
    padding-right: 164px;
  } */

  .footer-container {
    margin: 0;
  }

  .footer-wrap-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .footer-content {
    align-items: start;
  }

  .footer-link {
    margin-bottom: 0;
  }

  .footer-paragraph {
    margin-right: 0;
  }

  .footer-icons {
    display: block;
    margin-bottom: 100px;
  }

  .subscribe-form {
    display: flex;
    flex-direction: row;
  }

  .subscribe-container,
  .subscribe-text {
    display: block;
    margin-top: 0;
    text-align: left;
    margin-right: 50px;
  }

  .subscribe-input {
    margin-left: 0;
  }

  .subscribe-button {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }

  .address-list {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .made .container {
    width: 1158px;
  }

  .hero-section {
    width: 1200px;
    margin: 0 auto;
  }

  .hero-container {
    width: 100%;
    margin: 0 auto;
  }

  .hero-wrap {
    background-image:linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ), 
    url(../images/hero-bg-2x.jpg);
  }

  .feature-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    margin-top: 8px;
  }

  .feature-description {
    font-weight: 400;
  }

  .features-list {
    padding-left: 16px;
    padding-right: 16px;
  }

  .feature-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .features-icon {
    display: flex;
  }

  .team-section {
    padding-top: 60px;
    padding-bottom: 120px;
  }

  .team-list {
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .portfolio-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .footer-wrap-top {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
  }

  .subscribe-container {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
  }

  .subscribe-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footer-icons, .subscribe-form {
    display: flex;
    justify-content: flex-end;
  }

}
  